<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/about-us.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="about-us1">
      <img class="image-1-icon1" alt="" src="/static/img/image-1@2x.png" />

      <div class="we-are-a1">
        We are a team of education technology enthusiasts dedicated to improving
        student outcomes through innovative solutions. Our expertise in AI
        analytics allows us to develop systems that identify at-risk students
        and provide targeted support to prevent dropouts. By collaborating with
        educational institutions and leveraging advanced technologies, we strive
        to create a nurturing learning environment for all students. Our
        commitment to excellence and continuous improvement drives us to stay at
        the forefront of educational advancements. Together, we aim to make a
        positive impact in the field of education and ensure every student has
        the opportunity to succeed.
      </div>
      <div class="we-are-a1">
        We are a team of education technology enthusiasts dedicated to improving
        student outcomes through innovative solutions. Our expertise in AI
        analytics allows us to develop systems that identify at-risk students
        and provide targeted support to prevent dropouts. By collaborating with
        educational institutions and leveraging advanced technologies, we strive
        to create a nurturing learning environment for all students. Our
        commitment to excellence and continuous improvement drives us to stay at
        the forefront of educational advancements. Together, we aim to make a
        positive impact in the field of education and ensure every student has
        the opportunity to succeed.
      </div>
      <div class="we-are-a1">
        We are a team of education technology enthusiasts dedicated to improving
        student outcomes through innovative solutions. Our expertise in AI
        analytics allows us to develop systems that identify at-risk students
        and provide targeted support to prevent dropouts. By collaborating with
        educational institutions and leveraging advanced technologies, we strive
        to create a nurturing learning environment for all students. Our
        commitment to excellence and continuous improvement drives us to stay at
        the forefront of educational advancements. Together, we aim to make a
        positive impact in the field of education and ensure every student has
        the opportunity to succeed.
      </div>
      <b class="input-data3">Input Data</b>
      <b class="about-us2">About us</b>
      <b class="home1">Home</b>
      <div class="neumorphism-button1">
        <div class="knob-base1">
          <div class="background1"></div>
        </div>
        <div class="knob-elevation1">
          <div class="icon1">
            <img class="icon-item" alt="" src="/static/img/group-11.svg" />
          </div>
        </div>
      </div>
      <img class="ss-1-icon1" alt="" src="/static/img/ss-11@2x.png" />

      <div class="iphone-11-pro-max-1-wrapper">
        <div class="iphone-11-pro-max-11">
          <b class="about-us3">About Us</b>
        </div>
      </div>
      <img class="about-us-child" alt="" src="/static/img/line-881.svg" />

      <b class="result1">Result</b>
      <img class="vector-icon" alt="" src="/static/img/vector.svg" />

      <img class="man-sitting-icon" alt="" src="/static/img/man-sitting@2x.png" />
    </div>
  </body>
</html>
