<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/indexFront.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="index1">
      <img class="imagebg-icon" alt="" src="/static/img/imagebg@2x.png" />

      <a href="input">
      <button class="getstarted" autofocus>
        <div class="getstarted1">
          <b class="get-started">Get Started</b>
          <img class="arrow-icon" />
        </div>
      </button>
      </a>
      <div class="readytouse">
        <div class="early-warning">
          <div class="knob-elevation-2"></div>
        </div>
        <b class="ready-to-use">Ready to use?</b>
      </div>
      <div class="barbox"></div>
      <div class="top-bar">
        <div class="knob-elevation"></div>
      </div>
      <b class="contact" id="contactText">Contact</b>
      <b class="input-data" id="inputDataText">Input Data</b>
      <b class="about-us" id="aboutUsText">About us</b>
      <div class="home">
        <b class="home1">Home</b>
        <img class="homebar-icon" alt="" src="/static/img/homebar.svg" />
      </div>
      <img class="logo-icon" alt="" src="/static/img/logo@2x.png" />

      <img class="blob-icon" alt="" src="/static/img/blob.svg" />

      <a href="index.html">
      <button class="trynowglow" autofocus>
        <b class="get-started">Try Now</b>
        <img class="arrow-icon1"/>
      </button>
      </a>
      <img class="image1-icon" alt="" src="/static/img/image1@2x.png" />

      <div class="empower-education-with-container">
        <span class="empower-education-with-container1">
          <p class="empower-education-with">Empower Education with</p>
          <p class="empower-education-with">
            Early Warning System for Student Dropouts
          </p>
          <p class="empower-education-with">
            using Intel® AI Analytics Toolkits
          </p>
        </span>
      </div>
      <div class="topbar">
        <b class="contact1" id="contactText1">Contact</b>
        <b class="inputdata" id="inputDataText1">Input Data</b>
        <b class="aboutus" id="aboutUsText1">About us</b>
        <div class="homegroup">
          <b class="home2">Home</b>
          <img class="homebar-icon1" alt="" src="/static/img/homebar1.svg" />
        </div>
        <div class="neumorphism-button-2">
          <div class="knob-elevation"></div>
        </div>
      </div>
      <img class="logo-icon1" alt="" src="/static/img/logo@2x.png" />
    </div>

    <script>
      var contactText = document.getElementById("GetStarted");
      if (contactText) {
        contactText.addEventListener("click", function (e) {
          window.location.href = "./index.html";
        });
      }

      var contactText = document.getElementById("contactText");
      if (contactText) {
        contactText.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var inputDataText = document.getElementById("inputDataText");
      if (inputDataText) {
        inputDataText.addEventListener("click", function (e) {
          window.location.href = "./input-data.html";
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var contactText1 = document.getElementById("contactText1");
      if (contactText1) {
        contactText1.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var inputDataText1 = document.getElementById("inputDataText1");
      if (inputDataText1) {
        inputDataText1.addEventListener("click", function (e) {
          window.location.href = "./input-data.html";
        });
      }
      
      var aboutUsText1 = document.getElementById("aboutUsText1");
      if (aboutUsText1) {
        aboutUsText1.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      </script>
  </body>
</html>
