@keyframes wobble-hor-bottom {
  0%,
  to {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.imagebg-icon {
  position: absolute;
  top: 914px;
  left: 0;
  width: 1920px;
  height: 973px;
  object-fit: cover;
}
.get-started {
  position: relative;
  font-size: var(--font-size-6xl);
  text-transform: capitalize;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.getstarted,
.getstarted1 {
  width: 250px;
  display: flex;
  align-items: center;
}
.getstarted1 {
  border-radius: var(--br-31xl);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  box-shadow: -5px -5px 250px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(42px);
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-smi) 16px;
  box-sizing: border-box;
  justify-content: flex-end;
  gap: 33px;
}
.getstarted {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1763px;
  left: 838px;
  flex-direction: column;
  justify-content: center;
}
.getstarted:active {
  animation: 1s ease 0s infinite normal none wobble-hor-bottom;
  opacity: 1;
}
.knob-elevation-2 {
  align-self: stretch;
  border-radius: var(--br-5xl);
  background-color: var(--color-aliceblue);
  box-shadow: 8px 8px 16px #c9d9e8, -8px -8px 16px #fff;
  height: 85px;
}
.early-warning {
  position: absolute;
  top: 0;
  left: 27px;
  width: 345px;
  height: 119px;
  display: flex;
  flex-direction: column;
  padding: 23px 0 var(--padding-5xl) var(--padding-3xl);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  mix-blend-mode: multiply;
}
.ready-to-use {
  position: absolute;
  top: 38px;
  left: 100px;
  display: inline-block;
  width: 258px;
}
.readytouse {
  position: absolute;
  top: 1515px;
  left: 776px;
  width: 421px;
  height: 119px;
  text-align: left;
  font-size: 36px;
  font-family: var(--font-sen);
}
.barbox {
  position: absolute;
  top: 914px;
  left: 0;
  background: linear-gradient(182.03deg, #39b0ed, rgba(57, 176, 237, 0));
  width: 1920px;
  height: 206px;
}
.knob-elevation {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--color-aliceblue);
  box-shadow: 8px 8px 16px #c9d9e8, -8px -8px 16px #fff;
}
.contact,
.top-bar {
  position: absolute;
  display: flex;
}
.top-bar {
  width: calc(100% - 846px);
  top: 947px;
  right: 103px;
  left: 743px;
  height: 119px;
  flex-direction: column;
  padding: var(--padding-3xl) 0 var(--padding-5xl) var(--padding-3xl);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  mix-blend-mode: multiply;
}
.contact {
  top: 977px;
  left: 1289px;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 56px;
  cursor: pointer;
}
.input-data {
  top: 976px;
  left: 1537px;
  width: 220px;
  cursor: pointer;
}
.about-us,
.home1,
.input-data {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}
.about-us {
  top: 976px;
  left: 1039px;
  width: 219px;
  cursor: pointer;
}
.home1 {
  top: 0;
  left: 0;
  width: 218.49px;
}
.home,
.homebar-icon,
.logo-icon {
  position: absolute;
  top: 44px;
  left: 70.47px;
  width: 79.72px;
  height: 4px;
}
.home,
.logo-icon {
  top: 976px;
  left: 790px;
  width: 218.49px;
  height: 56px;
}
.logo-icon {
  top: 841px;
  left: 0;
  width: 666px;
  height: 338px;
  object-fit: cover;
}
.blob-icon {
  position: absolute;
  top: 216px;
  left: 1299px;
  width: 510px;
  height: 528px;
  mix-blend-mode: soft-light;
}
.blob-icon:hover {
  animation: 3s ease 0s 1 normal none rotate-90-cw;
  opacity: 1;
}
  button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #39b0ed;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.trynowglow,
.trynowglow:active {
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-5xl);
}
.trynowglow {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 710px;
  left: 140px;
  border-radius: var(--br-31xl);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(42px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.trynowglow:active {
  box-sizing: border-box;
}
.image1-icon {
  position: absolute;
  top: 336px;
  left: 1169px;
  width: 588px;
  height: 474px;
  object-fit: cover;
}
.image1-icon:hover,
.trynowglow:active {
  animation: 1s ease 0s infinite normal none wobble-hor-bottom;
  opacity: 1;
}
.empower-education-with {
  margin: 0;
}
.empower-education-with-container1 {
  line-break: anywhere;
  width: 100%;
}
.empower-education-with-container {
  position: absolute;
  top: 360px;
  left: 140px;
  font-size: 40px;
  font-family: var(--font-sen);
  text-align: left;
  display: flex;
  align-items: center;
  width: 832px;
  height: 194px;
  mix-blend-mode: normal;
}
.contact1,
.inputdata {
  width: calc(100% - 502.84px);
  cursor: pointer;
}
.contact1 {
  position: absolute;
  top: 23px;
  left: 313px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55.51px;
}
.inputdata {
  top: 22px;
  left: 446px;
}
.aboutus,
.home2,
.inputdata {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55.51px;
}
.aboutus {
  width: calc(100% - 502.84px);
  top: 22px;
  left: 180px;
  cursor: pointer;
}
.home2 {
  width: 100%;
  top: 0;
  left: 0;
}
.homebar-icon1 {
  position: absolute;
  width: calc(100% - 73.16px);
  top: 43.5px;
  right: 36.16px;
  left: 37px;
  max-width: 100%;
  overflow: hidden;
  height: 4px;
}
.homegroup {
  position: absolute;
  width: calc(100% - 502.84px);
  top: 22px;
  right: 452.84px;
  left: 50px;
  height: 55.51px;
}
.homegroup:hover {
  animation: 1s ease 0s infinite normal none shadow-drop-bottom;
  opacity: 1;
}
.neumorphism-button-2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 112px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xl) var(--padding-5xl) var(--padding-5xl)
    var(--padding-3xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: multiply;
}
.topbar {
  position: absolute;
  top: 40px;
  left: 1244px;
  width: 620px;
  height: 112px;
  font-size: var(--font-size-mini);
}
.logo-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 666px;
  height: 178px;
  object-fit: cover;
}
.index1 {
  position: relative;
  background-color: #39b0ed;
  width: 100%;
  height: 1887px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
